* {
    background-color: rgb(205, 205, 237);
}

h1 {
    background-color: white;
    color: black;
}

h1:hover {
    color:purple
}


ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 16px 16px;
    padding-right: 40px;
}

header li {
    display: flex;
    list-style: none;
}

div.plus{
    display: flex;
    justify-content: flex-end;
    align-content: center;
    font-size: smaller;
}

.plus *:first-child{
    font-size: medium;
    padding: 0px 500px;
}

ol {
    list-style: none;
    display: flex;
    justify-content: center;
}

.list>li {
    padding: 8px;
}

.btn{
    padding: 8px 12px;
    display: flex;
    border-radius: 8px;
}

.btn:active {
    font-weight: bold;
}

.btn *:nth-child(2){
    flex-grow: 2;
}

.searchLink {
    padding: 8px 200px;
    display: flex;
    justify-content: space-between;
}

input:focus {

}

#time::after{
    content:"시간표";
}

br+h2{
    display: flex;
    justify-content: center;
    color: darkmagenta;
}

.container{
    padding: 8px 400px;
    display: flex;
    justify-content: space-between;
}
.click~input{
    display: flex;
    justify-content: center;

}
input[type="button"]{
    background-color: azure;
}

.ticket *:not(input){
    color:darkmagenta
    
}

.date *:first-child{
    color:darkmagenta
}






